* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%; /*  esto es para responsive donde 1rem = 10px */
}

body {
  height: 100vh;
}

.background {
  background-color: #f3fbff;
  clip-path: polygon(35% 0%, 106% 0, 100% 58%, 60% 95%);
  height: 100vh;
}

.site-container {
  position: relative;
  top: -100vh;
}

.logo {
  width: 16rem;
  height: 5rem;
}

.navbar {
  padding: 2rem 10rem;
  /* position: relative;
  top: -100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4c4e5f;
}

.navbar-container {
  font-size: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}

.nav-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-list-item svg {
  width: 2rem;
  height: 2rem;
}

.dropdown {
  gap: 1.5rem;
}

a:link,
a:visited {
  color: #4c4e5f;
  text-decoration: none;
}

.navbar-btns {
  display: flex;
  gap: 2rem;
}

.btn {
  border: 1px solid green;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: green;
  font-weight: 700;
  font-size: 1.5rem;
}

.login {
  background-color: #f3fbff;
}

.green {
  color: white;
  background-color: green;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.popup-content input[type="text"],
.popup-content input[type="email"],
.popup-content input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.popup-content button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button[type="submit"]:hover {
  background-color: #45a049;
}
